.followers-section {
  background-color: var(--grey);
  max-height: 85vh;
  overflow: hidden;
  scroll-behavior: auto;
}
.followers-section .header {
  width: 100%;
  background-color: var(--theme-color);
  padding: 0.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  padding: 1rem 1rem;
}

.followers-section .heading {
  font-size: 16px;
  font-weight: 900;
}
