#home {
  margin-top: 5rem;
  font-size: 14px;
}

#home a:hover {
  text-decoration: none;
}

#profile_display {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--grey);

  margin: 0px 0.4rem;
  border-radius: 10px;
  padding: 10px;
}

.image_section img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-bottom: 10px;
}
.user_name {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
}

.user_name a {
  color: black;
}
.user_name a:hover {
  text-decoration: none;
}

textarea {
  resize: none;
}

.activities {
  border-left: 1px solid var(--theme-color);
}

.tweets {
  border-left: 1px solid var(--theme-color);
}

.view-profile {
  background: var(--theme-color);
  color: white;
}
.action-button {
  font-size: 12px;
}
.action-button:hover {
  color: white;
}
.edit-profile {
  background: var(--secondary-color);
  color: white;
}

#edit_profile {
  margin-top: 20px;
}

#edit_profile .heading {
  width: 100%;
  height: 2rem;
  background: var(--theme-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 900;
}

.save-changes-btn {
  background: var(--secondary-color);
  color: white;
  font-size: 12px;
}
.save-changes-btn:hover {
  color: white;
  background: var(--theme-color);
  transition: linear 0.2s;
}

.selected-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.selected-image {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-top: 10px;
}

.cancel-btn {
  background: var(--theme-color);
  color: white;
  font-size: 12px;
}
.cancel-btn:hover {
  background-color: var(--secondary-color);
  color: white;
  transition: linear 0.2s;
}
